.navbar a,
.header-content,
.header-content a {
    text-shadow: 1px 1px 1px #000000;
}

.home-logo {
    background: #fff;
    height: auto;
    width: 280px;
}

/* Remove shadow on scroll */

.navbar-default.affix a {
    text-shadow: none;
}

